<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.roc.business.demo.mapper.TOrderMapper">
  <resultMap id="BaseResultMap" type="com.cloud.roc.business.demo.model.TOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <select id="findById" parameterType="int"  resultType="com.cloud.roc.business.demo.model.TOrder">
        SELECT
            *
        FROM
	        t_order
	    WHERE id = #{id}
  </select>


</mapper>